@model LoginVM
<h1>Login</h1>

<div class="row">
    <div class="col-md-4">
        <form  method="post">
            <div asp-validation-summary="All" class="text-danger"></div>         
            <h2>Login to your account.</h2>
            <hr />
            <div class="form-floating mb-3">
                <input asp-for="UserName" class="form-control" placeholder="name@example.com" />
                <label asp-for="UserName">UserName</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            
            <div class="form-floating mb-3">
                <input type="Password" asp-for="Password" class="form-control"  placeholder="password" />
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <button  type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
        </form>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }

       