@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="d-flex justify-content-center mt-5">
            <div class="card shadow p-4"
                 style="width: 500px; border-radius: 15px;">

                <h2 class="text-center mb-3">
                    Welcome
                </h2>

                <p class="text-center">
                    Logged in as:
                    <strong>@User.Identity.Name</strong>
                </p>

                <div class="text-center mt-4">
                    <a asp-controller=""
                           asp-action="Index"
                           class="btn btn-primary">
                        Join
                    </a>
                </div>

            </div>
        </div>
    }
    
        else
        {
            <div class="d-flex flex-column justify-content-center align-items-center"
                 style="height: 70vh;">

                <h1 class="display-4">
                    Welcome to Jira Project
                </h1>

                <p>Please register to continue.</p>

            </div>
        }
    
</div>
